<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular - Filters</title>
    <script src="scripts/angular.js"></script>
    <script>
        (function () {
            var name = 'myApp',
                requires = [],
                myApp = null;

            myApp = angular.module(name, requires);

            myApp.controller('AppCtrl', function ($scope) {
                // $scope.toUpperCase = function(text){
                //     return text.toUpperCase();
                // }
            });
        }());
    </script>
</head>

<body ng-controller="AppCtrl">
    <!-- <p>{{toUpperCase('I am learning Angular Filters... Whoa !!!!!!!')}}</p> -->
    <p>{{'I am learning Angular Filters... Whoa !!!!!!!!!' | uppercase}}</p>
</body>

</html>