<table>
    <thead>
        <th>S.No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Favourite</th>
        <th>First</th>
        <th>Last</th>
        <th>Middle</th>
    </thead>
    <tbody>
        <tr ng-repeat="contact in contacts" ng-class="$odd ? 'odd' : 'even'">
            <td ng-bind="$index + 1"></td>
            <td ng-bind="contact.firstName"></td>
            <td ng-bind="contact.lastName"></td>
            <td ng-bind="contact.favourite"></td>
            <td ng-bind="$first"></td>
            <td ng-bind="$last"></td>
            <td ng-bind="$middle"></td>
        </tr>
    </tbody>
</table>