<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular - $http directive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="scripts/angular.js"></script>
    <script>
        (function () {
            var name = 'myApp',
                requires = [],
                myApp = null;

            myApp = angular.module(name, requires);
            myApp.controller('AppCtrl', function ($scope, $http) {
                $scope.courses = [];

                $scope.loadData = function () {
                    $http.get("courses.json")
                        .then(function (response) {
                            console.log(response);
                            $scope.courses = response.data;
                            console.log("State changed", $scope.courses);
                        }, function (data) {
                            console.log(data);
                        });
                };
            });
        }());
    </script>
</head>

<body ng-controller="AppCtrl">
    <div>
        <h1>Courses(s)</h1>
        <table>
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Category</th>
                <th>Timeline</th>
                <th>Price</th>
            </thead>
            <tbody>
                <tr ng-repeat="course in courses">
                    <td>{{$index + 1}}</td>
                    <td>{{course.name | uppercase}}</td>
                    <td>{{course.category}}</td>
                    <td>{{course.timeline}}</td>
                    <td>{{course.price | currency: 'INR - '}}</td>
                </tr>
            </tbody>
        </table>
        <button ng-click="loadData()">Load Data</button>
    </div>
</body>

</html>