<!doctype html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>Angular Model sample.</title>
    <script src="scripts/angular.js"></script>
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null;

            myApp = angular.module(name, requires);

            myApp.controller("AppCtrl", function () {
                this.employee = {
                    firstName: "Kamalanathan",
                    lastName: "Annamalai",
                    occupation: "Web Developer"
                };
            });
        }());
    </script>
</head>

<body ng-controller="AppCtrl as app">
    <p> {{app.employee.firstName + " " + app.employee.lastName + " - " + app.employee.occupation }} </p>
</body>

</html>